/* Container für alle Songs */
#topartist {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Abstand zwischen den Song-Items */
    padding: 1rem;
}

/* Stil für jedes einzelne Song-Item */
.artist-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Elemente mit gleichmäßigen Abständen verteilen */
    align-items: left;
    padding: 1rem;
    border: 1px ;
    border-radius: 5px;
    width: 100%;
}

/* Einzelne Elemente in der Flexbox */
.artist-rank, .artist, .artist-plays {
    text-align: left; /* Text linksbündig ausrichten */
}

.artist-rank {
    width: 10%;
}

.artist {
    width: 30%;
}

.artist-plays {
    width: 20%;
    display: flex;
}

/* AB HIER MEDIAQUERIES ALLGEMEIN */

/*** Tablet ***/
@media screen and (max-width: 820px) {

    .artist-item {
        padding: 0rem;
    }

    .artist-item h2 {
        font-size: 5vw;
    }

    .artist-rank {
        width: 20%;
    }
    .artist {
        width: 20%;
    }
    .artist-plays {
        justify-content: end;
    }

}
