.radio-image {
    display: block; /* Bild wird als Block-Element behandelt */
    margin: 0 auto; /* Zentriert das Bild horizontal */
    width: 65%; /* Setzt die Breite des Bildes auf 80% der verfügbaren Breite */
    max-width: 65%; /* Setzt die maximale Breite auf 600px, um das Bild nicht zu groß zu machen */
    height: auto; /* Beibehaltung des Seitenverhältnisses */
  }


  #preview {
    display: flex;                /* Flexbox aktivieren */
    justify-content: space-between; /* Platzierung der Elemente mit Abstand dazwischen */
    align-items: stretch;          /* Artikel gleich hoch machen */
    gap: 20px;                     /* Abstand zwischen den Artikeln */
  }