.radio-image {
    display: block; /* Bild wird als Block-Element behandelt */
    margin: 0 auto; /* Zentriert das Bild horizontal */
    width: 65%; /* Setzt die Breite des Bildes auf 80% der verfügbaren Breite */
    max-width: 65%; /* Setzt die maximale Breite auf 600px, um das Bild nicht zu groß zu machen */
    height: auto; /* Beibehaltung des Seitenverhältnisses */
  }


#playSongButton {
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 15;
  position: absolute;
  left: 70.25%;
  top: 34%;
  animation: pulse 1.5s infinite ease-in-out; /* Animation */
  }

  /* Pulsierende Animation */
@keyframes pulse {
  0% {
    transform: scale(1); /* Normalgröße */
  }
  50% {
    transform: scale(1.1); /* Leicht vergrößern */
  }
  100% {
    transform: scale(1); /* Zurück zur Normalgröße */
  }
}

  #playSongButton::before {
  content: '';  /* Platzhalter für das Symbol */
  display: inline-block;
  border-style: solid;
  border-width: 15px 0 15px 25px;  /* Play-Symbol: Dreieck */
  border-color: transparent transparent transparent white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  #playSongButton.stop::before {
  content: '';
  border-width: 0;
  width: 20px;
  height: 20px;
  background-color: white;  /* Stop-Symbol: Quadrat */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  .spotify-embed {
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150%;
  width: 100%;
  }

  #spotifyIframe {
    width: 110%;
    height: fit-content;
  }
  

  /* Iframe initial ausblenden */
#spotifyIframe {
  width: 110%;
  height: fit-content;
}

  /* Der Container, der das Radio-Bild und den Songtext enthält */
  .radio-container {
  position: relative; /* Relativer Container als Bezugspunkt */
  width: 100%; /* Passt sich dem Inhalt an */
  margin: 0 auto; /* Zentriert den Container auf der Seite */
  }
  
  /* Positioniere #currentSong relativ zum .radio-container */
  #currentSong {
  position: absolute; 
  top: 31%; 
  left: 50%; 
  transform: translateX(-60%); 
  z-index: 10; 
  overflow: hidden;
  white-space: nowrap; 
  text-align: center; 
  padding: 10px;
  width: 80%; 
  }
  
  /* Stil für den Songtitel */
  #currentSong h3 {
  display: inline-block;
  animation: flickerRadio 3s infinite; /* Flicker-Effekt */
  font-size: 2rem; /* Schriftgröße */
  color: #f2e206; /* Gelbe Farbe */
  font-family: 'Digital', sans-serif; /* Monospace-Schriftart */
  }
  

  /* Keyframes für den Flicker-Effekt */
  @keyframes flickerRadio {
  0% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(242, 226, 6, 0.75);
  }
  5% {
    opacity: 0.5;
    text-shadow: none;
  }
  10% {
    opacity: 1;
    color: #f2e206; /* Kurz flackernde Farbänderung */
  }
  15% {
    opacity: 0.8;
  }
  25% {
    opacity: 1;
    color: #f2e206;
  }
  35% {
    opacity: 0.6;
    color: #f2e206;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 0.3;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 0.8;
  }
  
  100% {
    opacity: 1;
  }
  }

  #preview {
    display: flex;                /* Flexbox aktivieren */
    justify-content: space-between; /* Platzierung der Elemente mit Abstand dazwischen */
     align-items: flex-start;       /* Elemente oben ausrichten */
    gap: 20px;                     /* Abstand zwischen den Artikeln */
  }

  #preview .containerSmall h2 {
    text-align: center;
}

.containerSmall {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column; /* Stellt sicher, dass die Elemente untereinander angeordnet werden */
  justify-content: flex-start;
  align-items: center;
  background-color: #000000c4;
  border-radius: 15px;      /* Abgerundete Ecken */
  padding: 20px; 
  }
  
  .containerSmall h2{
    margin-bottom: 5%;
    }

    .containerSmall p{
      margin-bottom: 1%;
      }


a {
  display: block;
  width: 100%;
  text-decoration: none;
}

.smallGenresChart {
width: 100%; /* 100% Breite */
height: 150%; /* 100% Höhe */
}

canvas {
  width: 100%;
  height: 100%;
}


/* AB HIER MEDIAQUERIES ALLGEMEIN */

/*** Tablet ***/
@media screen and (max-width: 820px) {

  #preview {
    flex-direction: column;
  }
  
  .containerSmall {
    width: 90%;
    margin-bottom: 20px;
    height: fit-content;
  }
  

}


/*** Handy  ***/
@media screen and (max-width: 576px) {
  


}