body {
    background-image: url('../images/background.png');
    background-size: cover; /* Deckt den gesamten Hintergrund ab */
    background-position: center; /* Bild wird zentriert */
    background-repeat: repeat; /* Das Bild wiederholt sich nicht */
    margin: 0;
    padding-left: 4%;
    padding-right: 4%;
  }

  @font-face {
    font-family: 'Bangers';
    src: url('../schriften/bangers.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Digital';
    src: url('../schriften/digital.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Fresca';
    src: url('../schriften/fresca.ttf') format('truetype');
  }

  h1 {
    color: #f2e206;
    font-size: 10vw;
    text-align: left;
    font-family: 'Bangers', sans-serif;
  }
  
  h2 {
    color: #f2e206;
    font-size: 2vw;
    text-align: left;
    font-family: 'Bangers', sans-serif;
  }
  
  h3 {
    color: #f2e206;
    font-size: 3vw;
    text-align: left;
    font-family: 'Digital', sans-serif;
  }
  
  p {
    color: #fff;
    font-size: 2vw;
    text-align: left;
    font-family: 'Fresca', sans-serif;
  }
 
  
  /* Titel links */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
}

/* Burger-Menü rechts */
.menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  z-index: 10;
  background-color: black;
  flex-direction: column;
  padding: 20px;
  transition: transform 0.3s ease; /* Für Animation beim Öffnen */
}

.menu a {
  color: #ffffff;            /* Normale Linkfarbe (weiß) */
  text-decoration: none;    /* Entfernt die Unterstreichung */
  font-size: 5rem;          /* Schriftgröße */
  font-family: 'Bangers', sans-serif; /* Schriftart */
  padding: 0.25rem;            /* Innenabstand für besseren Klickbereich */
  display: block;           /* Blockelement */
  text-align: right;      
  margin-top: 3rem;
  margin-right: 2rem;
}

/* Aktiviertes Menü */
.menu.active {
  display: flex;
}

/* Menüformatierung */
ul {
  color: #ffffff;
  list-style: none;
}

li h1 {
  margin-bottom: 10%;
}

/* Burger-Icon */
.burger {
  cursor: pointer;
  z-index: 20;
  position: fixed;
  right: 2rem;
  margin-top: 4rem;
}

.burger .bar {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: transform 0.3s;
}

/* Styling für das Kreuzsymbol bei Klick auf Burger-Menü */
.burger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.open .bar:nth-child(2) {
  opacity: 0;
}

.burger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}


/*Allgemeines Styling */

.container {
  width: 96%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #000000c4;
  border-radius: 15px;      /* Abgerundete Ecken */
  padding: 2%; 
  margin-top: 2%;
}

#genresChart {
  width: 100%; /* 100% Breite */
  height: 100%; /* 100% Höhe */
  background-color: rgba(0, 0, 0, 0.77); /* Schwarzer Hintergrund */
  border-radius: 15px; /* Abgerundete Ecken */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optionaler Schatten */
}


.containerSmall {
  width: 30%;
  height: 25rem;
  display: flex;
  flex-direction: column; /* Stellt sicher, dass die Elemente untereinander angeordnet werden */
  justify-content: center;
  align-items: center;
  background-color: #000000c4;
  border-radius: 15px;      /* Abgerundete Ecken */
  padding: 20px; 
}

#playSongButton {
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 15;
  position: absolute;
  left: 69.75%;
  top: 40%;
}

#playSongButton::before {
  content: '';  /* Platzhalter für das Symbol */
  display: inline-block;
  border-style: solid;
  border-width: 15px 0 15px 25px;  /* Play-Symbol: Dreieck */
  border-color: transparent transparent transparent white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#playSongButton.stop::before {
  content: '';
  border-width: 0;
  width: 20px;
  height: 20px;
  background-color: white;  /* Stop-Symbol: Quadrat */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#playSongButton:hover {
  background-color: #444;
}

#spotifyIframe {
  width: 0;
  height: 0;
  border: none;
  visibility: hidden;
}

/* Der Container, der das Radio-Bild und den Songtext enthält */
.radio-container {
  position: relative; /* Relativer Container als Bezugspunkt */
  width: fit-content; /* Passt sich dem Inhalt an */
  margin: 0 auto; /* Zentriert den Container auf der Seite */
}

/* Positioniere #currentSong relativ zum .radio-container */
#currentSong {
  position: absolute; /* Absolut positioniert relativ zum .radio-container */
  top: 36%; /* Abstand von oben, anpassbar je nach gewünschter Position */
  left: 50%; /* Zentriert den Text horizontal */
  transform: translateX(-60%); /* Exakte Zentrierung */
  z-index: 10; /* Höher als das Radio-Bild */
  overflow: hidden; /* Verhindert, dass der Text aus dem Container herausragt */
  white-space: nowrap; /* Verhindert, dass der Text umbricht */
  text-align: center; /* Zentriert den Text */
  padding: 10px;
  width: 80%; /* Passt sich der Containerbreite an */
}

/* Stil für den Songtitel */
#currentSong h3 {
  display: inline-block;
  animation: flickerRadio 3s infinite; /* Flicker-Effekt */
  font-size: 2rem; /* Schriftgröße */
  color: #f2e206; /* Gelbe Farbe */
  font-family: 'Digital', sans-serif; /* Monospace-Schriftart */
}



/* Keyframes für den Flicker-Effekt */
@keyframes flickerRadio {
  0% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(242, 226, 6, 0.75);
  }
  5% {
    opacity: 0.5;
    text-shadow: none;
  }
  10% {
    opacity: 1;
    color: #f2e206; /* Kurz flackernde Farbänderung */
  }
  15% {
    opacity: 0.8;
  }
  25% {
    opacity: 1;
    color: #f2e206;
  }
  35% {
    opacity: 0.6;
    color: #f2e206;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 0.3;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}




/* iPads im Querformat (Landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}


@media only screen and (max-width: 767px) and (orientation: portrait) {
    


}