body {
    background-image: url('../images/background.png');
    background-size: cover; /* Deckt den gesamten Hintergrund ab */
    background-position: center; /* Bild wird zentriert */
    background-repeat: repeat; /* Das Bild wiederholt sich nicht */
    margin: 0;
    padding-left: 4%;
    padding-right: 4%;
  }

  @font-face {
    font-family: 'Bangers';
    src: url('../schriften/bangers.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Digital';
    src: url('../schriften/digital.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Fresca';
    src: url('../schriften/fresca.ttf') format('truetype');
  }

  h1 {
    color: #f2e206;
    font-size: 150px;
    text-align: left;
    font-family: 'Bangers', sans-serif;
  }
  
  h2 {
    color: #f2e206;
    font-size: 36px;
    text-align: left;
    font-family: 'Bangers', sans-serif;
  }
  
  h3 {
    color: #f2e206;
    font-size: 64px;
    text-align: left;
    font-family: 'Digital', sans-serif;
  }
  
  p {
    color: #fff;
    font-size: 32px;
    text-align: left;
    font-family: 'Fresca', sans-serif;
  }
 
  
  /* Titel links */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
}

/* Burger-Menü rechts */
.menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  z-index: 10;
  background-color: black;
  flex-direction: column;
  padding: 20px;
  transition: transform 0.3s ease; /* Für Animation beim Öffnen */
}

.menu a {
  color: #ffffff;            /* Normale Linkfarbe (weiß) */
  text-decoration: none;    /* Entfernt die Unterstreichung */
  font-size: 5rem;          /* Schriftgröße */
  font-family: 'Bangers', sans-serif; /* Schriftart */
  padding: 0.25rem;            /* Innenabstand für besseren Klickbereich */
  display: block;           /* Blockelement */
  text-align: right;      
  margin-top: 3rem;
  margin-right: 2rem;
}

/* Aktiviertes Menü */
.menu.active {
  display: flex;
}

/* Menüformatierung */
ul {
  color: #ffffff;
  list-style: none;
}

li h1 {
  margin-bottom: 10%;
}

/* Burger-Icon */
.burger {
  cursor: pointer;
  z-index: 20;
  position: fixed;
  right: 2rem;
  margin-top: 4rem;
}

.burger .bar {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: transform 0.3s;
}

/* Styling für das Kreuzsymbol bei Klick auf Burger-Menü */
.burger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.open .bar:nth-child(2) {
  opacity: 0;
}

.burger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}


/*Allgemeines Styling */

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000c4;
  border-radius: 15px;      /* Abgerundete Ecken */
  padding: 20px; 
}

.containerSmall {
  width: 30%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000c4;
  border-radius: 15px;      /* Abgerundete Ecken */
  padding: 20px; 
}

.rotated-text {
  transform: rotate(-90deg); /* Dreht den Text um 90 Grad */
}

.yellow-line {
  background-color: #f2e206; /* Farbe des Strichs */
  height: 4px;              /* Höhe des Strichs */
  width: 100%;              /* Breite des Strichs (anpassbar) */
  margin: 20px 0;           /* Abstand oben und unten */
  transform: rotate(90deg);
}